<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Add Mentor</title>
    <style>
        .form
        {
        text-align:center;
        }
        span
        {
        width:150px;
        }
        body
        {
        margin-left:100px;
        margin-right:100px;
        }
    </style>
</head>
<body>
    <h3 align="center">Add new reviewer</h3>
    <div class="form">
    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" >UserName</span>
  </div>
  <input type="text" name="username" id="id_username" required class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
       <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" >Password</span>
  </div>
  <input type="text" name="password1" id="id_password1" required class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
        <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" >Re-enter Password</span>
  </div>
  <input type="text" name="password2" id="id_password2" required class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
        <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" >Name</span>
  </div>
  <input type="text" name="fname" id="id_fname" required class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
        <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" >Subject</span>
  </div>
  <input type="text" name="subject" id="id_subject" required class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
        <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Contact</span>
  </div>
  <input type="text" name="contact" id="id_contact" required class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
        <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
  </div>
  <input type="text" name="email" id="id_email" required class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

        <input class="btn btn-primary" type="submit" value="Add"/>
    </form>
    </div>
</body>
</html>